/* .tabs {
  width: 100%;
  background-color: red;
}

.tablist {
  background-color: blue;
}

.tab {
  background-color: tomato;
}

.specificTab {
  background-color: red;
}

.specificTab > h3 {
  background-color: red;
}

.tabHeading {
  background-color: green;
}

.tabPanel {
  background-color: yellow;
} */
